.scroll-top{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:var(--color-gold);

color:#050505;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

z-index:9999;

box-shadow:0 10px 20px rgba(0,0,0,.3);

transition:.3s ease;

}

.scroll-top:hover{

transform:translateY(-5px);

background:#b39240;

}

@media(max-width:767px){

.scroll-top{

width:45px;

height:45px;

bottom:20px;

right:20px;

}

}
